<section>
<h3>Контактная информация</h3>		
	<div>
						Заказать товар или получить консультацию можно 
 <strong>ежедневно с 9:00 до 21:00</strong>.<br>

<br>

<strong></strong>
Телефоны:
<br>

<strong>
<span>+375 (17)</span> 2-021-021<br>

<span>+375 (29)</span> 3-021-021
<br>

<span>+375 (29)</span> 2-021-021<br>

<span>+375 (25)</span> 5-021-021<br>

</strong>
<br>

<strong>Skype:   </strong><a href="skype:www.21vek.by?chat">www.21vek.by</a> <strong><br>

E-mail:   </strong><a href="mailto:21@21vek.by">21@21vek.by</a><br>

<br>

<strong>Онлайн-заказы</strong> через корзину сайта 21vek.by принимаются <strong>ежедневно и круглосуточно</strong>!
<br>

В рабочее время вам перезвонит оператор для подтверждения заказа.
<br>

<br>

<strong>Для заказов по безналичному расчёту просим использовать только корзину сайта.<br>

</strong>Если вам необходима консультация, обращайтесь по телефонам колл-центра.<br>

<strong>E-mail:</strong> <a href="mailto:beznal@21vek.by">beznal@21vek.by</a>
<br>

<strong>Факс:</strong> <span>+375 (17)</span> 3-990-700<br>

<br>

<strong>По вопросам оптовых закупок пишите: </strong><a href="mailto:opt@21vek.by">opt@21vek.by</a>
<br>

<br>

<strong><a href="https://www.21vek.by/services/self_delivery.html">Самовывоз в Минске</a></strong>:<strong><br>

Время работы склада:</strong> <br>

<strong>пн-пт</strong><span id="pastemarkerend"><span id="pastemarkerend"> </span></span>с 10:00 до 21:00,<strong> сб </strong>с 10:00 до 19:00, <strong>вс</strong> с 10:00 до 17:00.<strong></strong><br>

<strong>Контактные телефоны:</strong> <span>+375 (44)</span> 5-012-109, <span>+375 (33)</span> 3-002-187<br>

<strong>Адрес:</strong> ул. Тростенецкая, 17<br>

<strong>Координаты:</strong> N 53°52′44″, E 27°35′29″<br>

<br>

<strong><a href="https://www.21vek.by/services/self_delivery.html">Самовывоз в областных центрах</a>
<br>

</strong>Доставка в Брест, Витебск, Гомель, Гродно и Могилёв до пунктов выдачи заказов компании Globel24.<br>

<strong>Время работы:</strong> пн-сб с 10:00 до 20:00, воскресенье – выходной.<br>

<br>

При возникновении <a href="https://www.21vek.by/info/return.html">гарантийного случая</a>, наличии претензии по качеству или комплектности приобретенной продукции просим вас <a class="g-pseudo_href" href="javascript:void( window.open('https://www.21vek.by/get/form/?form=Service', 'blank','scrollbars=yes,toolbar=no,width=700,height=500,left=100,top=30'))">оставить письменное заявление</a>.
						</div>

</section>