<section>

<div class="b-page">
						<strong>Оформить покупку в кредит и рассрочку вы сможете не выходя из дома.</strong><br>

Для этого необходимо сделать заказ через корзину либо по 
телефонам нашего Call-центра и указать способ оплаты "в кредит". Срок оформления кредита обычно не превышает 5 рабочих дней и зависит от банка и наличия 
всех необходимых документов у клиента.<br>

<br>

Подробные условия по кредиту вы сможете увидеть на страницах самих товаров в каталоге, нажав на ссылку "в кредит" под ценой товара:<br>


<br>

<strong>Контакты отдела кредитования<br>

</strong>E-mail: <a href="mailto:kredit@21vek.by">kredit@21vek.by</a>, Факс: <span>+375 (17)</span> 3-990-700<b><br>

<br>

С ЗАО "Идея Банк", ОАО "Хоум Кредит Банк" оформление кредита возможно по всей Беларуси.</b><br>

После принятия заказа с вами свяжется наш
кредитный агент, уточнит необходимые данные, отправит информацию в банк. В случае 
положительного ответа банка документы на подпись привезет курьер, он же 
сфотографирует вас и паспорт и заберет оригинал справки о доходах. Если вы забираете товар из 
пункта выдачи заказов в Минске, то документы мы доставим туда, и там же вы предъявите 
оригинал справки и паспорт (в регионах оформление кредита и рассрочки с самовывозом 
недоступно).<br>

<br>

<b>С ОАО "Банк Москва-Минск", ОАО "Приорбанк", ЗАО "Банк ВТБ (беларусь)" оформление доступно только в определенных городах.</b> Перечень городов можно 
уточнить у кредитного агента или в условиях кредита на сайте.<br>

После принятия заказа с вами свяжется наш кредитный агент, уточнит необходимые данные, отправит информацию в банк. В случае положительного ответа банка к вам выедет 
представитель банка для ознакомления и подписи документов. После с вами 
свяжется кредитный агент 21vek.by и оговорит время и дату доставки либо самовывоза в Минске (в 
регионах оформление кредита и рассрочки с самовывозом недоступно). Для принятия товара 
необходимо наличие счет-фактуры (документа, который выдаст банк) и паспорта.
<br>

<br>

Рекомендуем ознакомиться: 
<a href="https://www.21vek.by/files/tmp/2015.09.01 - справка о доходах_фл.docx">Образец справки о доходах для физических лиц</a><strong></strong>; <a href="https://www.21vek.by/files/tmp/2015.09.01 - справка о доходах_ип.docx">Образец справки о доходах для ИП</a><strong></strong>; <a href="https://www.21vek.by/files/tmp/памятка о заполнении справки о доходах.doc">Памятка по заполнению справки о доходах</a>.<strong><br>

</strong>
							</div>
</section>
