<section>
	<h2> Delivery </h2>
<div class="b-page">
	<div>Мы доставим вашу покупку в любую точку Беларуси.
	<ul style="z-index: 4; top: 0px; left: 0px; display: none;" aria-activedescendant="ui-active-menuitem" role="listbox" class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all"></ul></label>
	<div id="delivery-info">
	<dl class="delivery-info__item">
		<dt class="delivery-info__term">Доставка курьером</dt>
		<dd>
			Цена:
			<ul>
				<li class="delivery-info__dfn">заказ на сумму 1 000 000 руб. и более — бесплатно, </li>
				<li class="delivery-info__dfn">заказ на сумму менее 1 000 000 руб. — 50 000 руб. </li>
			</ul>
		</dd>
		<dd>
			Ближайшая дата — завтра  <span class="b-source_tooltip cr-source_tooltip-right j-tooltip-byhover" data-title="При условии, что товар доступен к доставке на момент оформления заказа"></span>		</dd>
	
		<dt class="delivery-info__term">
			Экспресс-доставка
		</dt>
		<dd>
			Цена:  <span class="b-source_tooltip cr-source_tooltip-right j-tooltip-byhover" data-title="Цена не зависит от количества товаров в корзине"></span>			<ul>
				<li class="delivery-info__dfn">в заказе только мелкие товары — 100 000 руб., </li>
				<li class="delivery-info__dfn">в заказе есть крупные товары — 200 000 руб. </li>
			</ul>
		</dd>
		<dd>
			Срок — в течение 3 часов  <span class="b-source_tooltip cr-source_tooltip-right j-tooltip-byhover" data-title="При условии, что товар доступен к доставке на момент оформления заказа. <br /> Заказ должен быть оформлен до 19:30 в будние дни и до 16:30 в субботу"></span>		</dd>
		<dd>
			Недоступны: покупка в кредит, безналичный расчет, ЕРИП
		</dd>
	
		<dt class="delivery-info__term">Самовывоз со 
			<span class="g-pseudo_href j-callpopup cr-popup-big" id="map_minsk" title="Минск">склада</span>
		</dt>
		<dd>
			Цена — бесплатно
		</dd>
		<dd>
			Ближайшая дата — в день заказа  <span class="b-source_tooltip cr-source_tooltip-right j-tooltip-byhover" data-title="При условии, что товар доступен к отгрузке на момент оформления заказа"></span>		</dd>	
	</dl>


</div>
</div>

<div><strong>Условия доставки и получения заказов:</strong>&nbsp;</div>

<br>

— Доставка по указанному адресу обязывает покупателя находиться на месте в согласованное накануне время. 
<br>

<br>

— Для заказов весом до 10 кг способ доставки по Беларуси определяется продавцом и может производиться как курьером 21vek.by, так и почтой (EMS)
<br>

<br>

— В случае, если условия в помещении мешают доставке товара или могут вызвать его повреждение, товар доставляется курьером до места с подходящими условиями (отсутствуют предметы, загромождающие проходы, расстояние между упакованным товаром и стеной не менее 5 см). Курьеры не осуществляют уборку территории от препятствующих предметов и не передвигают объекты в квартире.
<br>

<br>

— В обязанности курьеров не входит консультация по эксплуатации и характеристикам товара, его установка и настройка. В случае необходимости, информацию о товаре можно получить на сайте или в колл-центре.
<br>

<br>

— Заводская упаковка товара не вскрывается до доставки покупателю.
<br>
<br>

— Претензии к внешнему виду и комплектации изделия после заполнения гарантийного талона и отъезда курьера не принимаются. Поэтому настоятельно рекомендуем вам проверять модель, характеристики, комплектацию товара до подписания гарантийного талона.<br>
</div>  
</section>