<section>
	<h1> Payment </h1>
<div>
						Мы позаботились о том, чтобы оплата покупки была доступна в той форме, которую предпочитаете лично вы.<br>

Независимо от выбранной формы оплаты, расчет производится только в белорусских рублях.<br>

<br>

<h2>Наличный расчет</h2>

— Вы можете оплатить покупку при доставке, рассчитываясь с курьером наличными деньгами.<br>

— Если вы осуществляете самовывоз, оплату необходимо будет совершить в кассе пункта выдачи товара.<br>

<br>

<h2>Банковские карты</h2>

<strong>
Оплата банковской картой через терминал<br>

</strong>— Оплата курьеру при доставке. Сообщите выбранный способ оплаты во время заказа, и курьер приедет к вам с терминалом.<br>

— Также возможна оплата через терминалы во всех пунктах самовывоза.<br>

<br>

<strong>Оплата банковской картой онлайн</strong><br>

При оформлении заказа на сайте выберите способ "Оплатить сейчас онлайн", далее – "картой Visa или MasterCard". После подтверждения заказа вы будете перенаправлены на сервер системы Webpay, обеспечивающей безопасность платежей.<br>

<br>

Операция оплаты банковской картой онлайн полностью конфиденциальна и безопасна.<br>

Ваши персональные данные и реквизиты карточки будут введены не на 
странице нашего онлайн-гипермаркета, а на авторизационной страницах платежной системы. Доступ к ним осуществляется по протоколу безопасной передачи данных (SSL), а для осуществления аутентификации держателя 
карточки используются методы Verified by Visa и MasterCard Securecode.<br>

<br>

В случае отказа клиента от товара, денежные средства  возвращаются в полном размере и без каких-либо комиссий. Срок возврата денежных средств на карточку может достигать 30 дней и зависит от банка эмитента, выпустившего карточку.<br>

<br>

К оплате принимаются карты Visa и MasterCard всех классов и банков, Visa Electron, Maestro с CVC-кодом. Мы рекомендуем заранее обратиться в свой банк, чтобы удостовериться в том, что ваша карта может быть использована в системе <a href="http://webpay.by" target="_blank">Webpay</a>.<br>

<br>
<strong>Оплата картами "Халва" и "Халва+" от МТБанка</strong><br>

Рассрочка по карте <strong>"Халва": 2 месяца</strong>. <br>

Бонус при оплате картой<strong> "Халва+": 2%</strong> от стоимости покупки.<br>

Оплата возможна как онлайн при оформлении заказа на сайте, так и через терминал при доставке курьером или в минском пункте самовывоза. В пунктах самовывоза в регионах доступна оплата только бонусной картой "Халва+". При заказе необходимо предупредить оператора или отметить в корзине, что оплата будет производиться картой.<br>

При оплате картами "Халва" и "Халва+" бонусы по программе "Дело техники" не начисляются. При оплате картой рассрочки "Халва" скидки (в том числе по промо-коду), супер-цены и прочие акционные предложения не действуют.<br>

<div id="zanachka">
<strong>Оплата бонусами с карты "Халва+"</strong> доступна онлайн (при заказе через корзину) или через терминал в пункте самовывоза в Минске. Для оплаты онлайн необходимо в корзине выбрать пункт "Оплатить сейчас онлайн", выбрать карту "Халва+", далее на странице <a style="color: rgb(255, 85, 0); text-shadow: none;" href="http://webpay.by/" target="_blank">Webpay</a> ввести реквизиты карты и нажать "Оплатить" – после этого вы сможете указать, что оплата будет произведена бонусами и окончательно подтвердить оплату. При самовывозе до момента совершения платежа необходимо предупредить кассира, что вы желаете оплатить покупку бонусами. <br>

</div>

<br>

<strong>Оплата картой "Заначка 21 века" от МТБанка</strong>.
Оплата возможна как онлайн при оформлении заказа на сайте, так и через терминал при доставке курьером или в минском пункте самовывоза. При заказе необходимо предупредить оператора, что оплата будет производиться картой "Заначка 21 века".
При оплате покупок картой "Заначка 21 века" в 21vek.by комиссия за безналичные операции с использованием банковской платежной карточки не взимается!  При погашении задолженности по карте до 28 числа месяца, следующего за отчетным, вы не платите проценты по карте.<br>

При оплате картой "Заначка 21 века" бонусы по программе "Дело техники" не начисляются, скидки (в том числе по промо-коду), супер-цены и прочие акционные предложения не действуют.</div>

<br>

<div id="raschet"><h2>Система «Расчет» (ЕРИП)</h2>

Оплата через систему «Расчет» (ЕРИП) позволяет
 оплатить покупку со своего <strong>карт-счета</strong>, используя интернет-банк, либо банкоматы и инфокиоски многих банков РБ. Также данный способ будет очень удобным для тех, кто хочет оплатить заказ через систему электронных денег <strong>Webmoney</strong> или <strong>EasyPay</strong>. Рассчитаться <strong>наличными</strong> через систему «Расчет» (ЕРИП)  также 
возможно, обратившись в кассы банков либо воспользовавшись устройствами 
приема наличных денег (cash-in).<br>

<br>

При оплате покупок в онлайн-гипермаркете 21vek.by вам понадобится указать<strong> номер заказа</strong>. Этот номер будет отображен на сайте после завершения 
процедуры онлайн-заказа, а если вы обратились в call-центр, его сообщит наш оператор.<br>

<br>

Как оплатить покупку в системе "Расчет" (ЕРИП)<strong> через интернет-банк или систему электронных денег:</strong><br>

1. Зайдите на сайт интернет-банка, системы <a href="http://wmtransfer.by/" target="_blank">Webmoney</a> или <a href="http://ssl.easypay.by" target="_blank">EasyPay</a>.<br>

2. Найдите в меню пункт, 
содержащий название системы "Расчет" или ЕРИП <br>

  (на сайте <a href="http://wmtransfer.by/" target="_blank">wmtransfer.by</a> необходимо нажать на иконку карты РБ с надписью "Любые платежи по Беларуси").<br>

3. Далее из списка 
выберите по очереди "Интернет-магазины/сервисы", "0...9", "21vek.by".<br>

4. Затем введите в соответствующее поле <strong>номер вашего заказа</strong>.<br>

<br>

Подробный список способов и мест оплаты, а также другую интересующую вас информацию вы можете найти <a href="http://raschet.by/main.aspx?guid=7451%20" target="_blank">на сайте системы «Расчет»</a>.<br>

<br>

<h2>Безналичный расчет<br>

</h2>

Любой товар онлайн-гипермаркета 21vek.by можно приобрести по безналичному расчету. Цены на сайте включают НДС, а наличие на складе всегда актуально. <br>

<strong>Все заказы по безналичному расчету просим оформлять только через корзину сайта </strong>(для ускорения выставления счета и исключения ошибок при оформлении). Это даже проще, чем по телефону:<br>

1. Положите товар в корзину на сайте и выберите способ оплаты "по безналичному расчету".<br>

2. Обязательно укажите e-mail, на который следует выслать счет<span id="pastemarkerend"> (его отправка займет не более 2 часов).</span> <br>

3. Оформив заказ, заполните онлайн-форму данными о вашей организации.<br>

4. Получив счет на e-mail, оплатите его в течение 3 рабочих дней (по истечении этого срока он станет недействителен).<br>

5. После зачисления денег с вами свяжется наш специалист для уточнения условий доставки.<br>

6. В назначенное время и место курьер привезет товар вместе с документами на подпись. <br>

7. Возможно также совершить самовывоз заказа со склада в Минске по адресу ул. Тростенецкая, 17 Пн-Пт c 10:00 до 21:00.
<br>

Если вам нужна консультация по вопросу безналичного расчета, вы можете обратиться к нам по e-mail <a href="mailto:beznal@21vek.by">beznal@21vek.by</a> или по телефону <span>+375 (17)</span> 2-021-021.<br>

<br>

<div id="order_credit"><h2><a href="https://www.21vek.by/services/credit.html">Кредит</a> и рассрочка</h2>

Практически любой товар в нашем онлайн-гипермаркете можно <strong>приобрести в кредит и рассрочку, не выходя из дома</strong>.<br>

Для этого достаточно указать в корзине или сообщить оператору выбранный способ оплаты. Обратившись в call-центр, вы можете проконсультироваться насчет наиболее удобного для вас кредита, а при клике по кредитному предложению на странице товара вы увидите сводную таблицу для сравнения всех доступных программ.<br>

<strong>Для оформления кредита и рассрочки на дому</strong> с вами свяжется наш оператор, которому вы продиктуете анкетные данные. Если для оформления требуется справка о доходах, подготовьте ее до приезда курьера. Курьер привезет ваш заказ, документы на подпись, сделает фото вас и вашего паспорта и заберет оригинал справки о доходах. В случае самовывоза эти же действия производятся в пункте выдачи товара (доступно только при самовывозе в Минске). 
<br>

При оплате товара в рассрочку бонусы по программе "Дело техники" не начисляются, скидки (в том числе по промо-коду), супер-цены и прочие акционные предложения не действуют.<br>

<br>

<div id="raschet"><h2><a href="https://www.21vek.by/special_offers/gift_certificate.html">Подарочный сертификат</a></h2>

Обладатель Подарочного сертификата может использовать его для приобретения любого товара в онлайн-гипермаркете.&nbsp;
Если вы решили&nbsp;рассчитаться&nbsp;за покупку с помощью сертификата, сообщите об этом оператору call-центра или 
укажите&nbsp;соответствующий&nbsp;способ оплаты при заказе через сайт.<br>

Просим вас внимательно ознакомиться с <a href="https://www.21vek.by/special_offers/gift_certificate.html#rules_certificate">правилами пользования сертификатом</a>! <br>

<br>

<h2><a href="https://www.21vek.by/special_offers/bonus.html">Бонусы с карты "Дело техники"</a></h2>

Владельцы карт "Дело техники" имеют возможность накапливать бонусные баллы в размере до 7,5% от стоимости покупкок в онлайн-гипермаркете 21vek.by. Накопленными баллами можно оплатить до 100% стоимости покупки на нашем сайте. Для этого нужно <strong>оформить заказ онлайн</strong>: в корзине поставьте галочку "У меня есть карта «Дело техники»", введите ее данные и в способах оплаты выберите пункт "Оплатить часть покупки бонусами".<br>

<hr><strong></strong><strong>


</div>

</div>

</div>

</div>
</section>