			<div>

			    <div ng-repeat="product in products" ng-if="product.dataId === gardenId">

			       <div class="cont1"><img class="xl-img" ng-src="{{product.linkToImg}}"></div>
                
                <div class="cont2">
                  
                  <p><strong>{{product.title}}</strong></p>

                  <p><span>{{product.description}}</span></p>
                  
                  <p><span>{{product.manufacturer}} </span></p>
                  
                  <p><em>{{(product.availability > 0) ? "В наличии. Доступно " + product.availability + " штук.": "Нет в наличии. Под заказ. "}}</em></p>
                  
                  <p><em>Цена:  {{product.price | currency }}</em></p>
                  
                  <div buy-block></div>

                </div>
          </div>
      </div>